body{
  background-image: linear-gradient(to bottom right, #722DA0, #e6b7f3);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0px;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

.cardVidro{
  background-color: unset!important;
  background-image: linear-gradient(-30deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.06) 60%);
  background-repeat: no-repeat;
  background-size: cover; 
}

.containerMargin{
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.animacaoEfeitoFlutuando{
  animation: animacaoEfeitoFlutuando 5s ease-in-out infinite;
}

@keyframes animacaoEfeitoFlutuando{
  0%, 100%{
    transform: translateY(0);   
  }
  50%{
    transform: translateY(-60px);    
  }
}

.animacaoEfeitoGirar{
  animation: animacaoEfeitoGirar 30s linear infinite;
}

@keyframes animacaoEfeitoGirar {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}